/*Littleroot*/
#LITTLEROOT_TOWN_BRENDANS_HOUSE {
	top: 75.82417582417582%;
	left: 15.578947368421053%;
}

/*Oldale*/
#NPC_GIFT_RECEIVED_POTION_OLDALE {
	top: 66.81318681318682%;
	left: 16.63157894736842%;
}

/*Petalburg*/
#ITEM_PETALBURG_CITY_MAX_REVIVE {
	top: 61.0989010989011%;
	left: 7.368421052631579%;
}
#ITEM_PETALBURG_CITY_ETHER {
	top: 68.13186813186813%;
	left: 5.368421052631579%;
}
#HIDDEN_ITEM_PETALBURG_CITY_RARE_CANDY {
	top: 68.13186813186813%;
	left: 6.421052631578948%;
}
#PETALBURG_GYM {
	top: 62.85714285714286%;
	left: 6.842105263157895%;
}

/*Rustboro*/
#ITEM_RUSTBORO_CITY_X_DEFEND {
	top: 45.27472527472528%;
	left: 4.526315789473684%;
}
#NPC_GIFT_RECEIVED_GREAT_BALL_RUSTBORO_CITY {
	top: 34.285714285714285%;
	left: 3.789473684210526%;
}
#RUSTBORO_GYM {
	top: 36.70329670329671%;
	left: 3.3684210526315788%;
}
#NPC_GIFT_RECEIVED_QUICK_CLAW {
	top: 40.87912087912088%;
	left: 3.3684210526315788%;
}
#NPC_GIFT_RECEIVED_LETTER {
	top: 34.285714285714285%;
	left: 0.8421052631578947%;
}
#NPC_GIFT_RECEIVED_EXP_SHARE {
	top: 34.285714285714285%;
	left: 2.210526315789474%;
}
#NPC_GIFT_RECEIVED_PREMIER_BALL_RUSTBORO {
	top: 45.27472527472528%;
	left: 0.631578947368421%;
}
#NPC_GIFT_RECEIVED_HM01 {
	top: 41.75824175824176%;
	left: 1.1578947368421053%;
}
#RUSTBORO_CITY_DEVON_CORP {
	top: 35.604395604395606%;
	left: 1.368421052631579%;
}

/*Dewford*/
#NPC_GIFT_RECEIVED_OLD_ROD {
	top: 98.02197802197803%;
	left: 9.263157894736842%;
}

#NPC_GIFT_RECEIVED_TM36 {
	top: 95.16483516483517%;
	left: 7.894736842105263%;
}
#DEWFORD_GYM {
	top: 99.12087912087912%;
	left: 8.526315789473685%;
}
#NPC_GIFT_RECEIVED_SILK_SCARF {
	top: 96.7032967032967%;
	left: 8.526315789473685%;
}

/*Slateport*/
#NPC_GIFT_RECEIVED_POWDER_JAR {
	top: 77.58241758241759%;
	left: 26.42105263157895%;
}
#NPC_GIFT_RECEIVED_TM41 {
	top: 70.98901098901099%;
	left: 26.31578947368421%;
}
#NPC_GIFT_RECEIVED_SOOTHE_BELL {
	top: 74.72527472527473%;
	left: 25.473684210526315%;
}
#SLATEPORT_CITY_OCEANIC_MUSEUM {
	top: 74.94505494505495%;
	left: 28.736842105263158%;
}
#SLATEPORT_CITY_HARBOR {
	top: 70.98901098901099%;
	left: 28.526315789473685%;
}
#EVENT_TALK_TO_DOCK {
	top: 77.80219780219781%;
	left: 28.210526315789473%;
}
#EVENT_BUY_HARBOR_MAIL {
	top: 74.72527472527473%;
	left: 26.63157894736842%;
}

/*Mauville*/
#ITEM_MAUVILLE_CITY_X_SPEED {
	top: 41.53846153846154%;
	left: 28.526315789473685%;
}
#MAUVILLE_CITY_WATTSON {
	top: 38.901098901098905%;
	left: 28.63157894736842%;
}
#MAUVILLE_GYM {
	top: 38.02197802197802%;
	left: 26.0%;
}
#MAUVILLE_CITY_BIKE_SHOP {
	top: 37.8021978021978%;
	left: 29.36842105263158%;
}
#NPC_GIFT_RECEIVED_HM06 {
	top: 40.21978021978022%;
	left: 29.05263157894737%;
}
#NPC_GIFT_RECEIVED_COIN_CASE {
	top: 40.21978021978022%;
	left: 27.36842105263158%;
}

/*Verdanturf*/
#NPC_GIFT_RECEIVED_TM45 {
	top: 38.681318681318686%;
	left: 15.368421052631579%;
}

/*Fallarbor*/
#HIDDEN_ITEM_FALLARBOR_TOWN_NUGGET {
	top: 3.956043956043956%;
	left: 10.210526315789474%;
}
#NPC_GIFT_RECEIVED_TM27 {
	top: 4.395604395604396%;
	left: 10.842105263157896%;
}

/*Lavaridge*/
#HIDDEN_ITEM_LAVARIDGE_TOWN_ICE_HEAL {
	top: 16.923076923076923%;
	left: 18.0%;
}
#NPC_GIFT_RECEIVED_CHARCOAL {
	top: 19.560439560439562%;
	left: 19.05263157894737%;
}
#LAVARIDGE_GYM {
	top: 19.560439560439562%;
	left: 18.105263157894736%;
}

/*Fortree*/
#NPC_GIFT_RECEIVED_TM10 {
	top: 0.8791208791208791%;
	left: 42.10526315789474%;
}
#NPC_GIFT_RECEIVED_MENTAL_HERB {
	top: 0.6593406593406593%;
	left: 44.0%;
}
#FORTREE_GYM {
	top: 2.857142857142857%;
	left: 42.73684210526316%;
}

/*Lilycove*/
#ITEM_LILYCOVE_CITY_MAX_REPEL {
	top: 28.13186813186813%;
	left: 67.57894736842105%;
}
#HIDDEN_ITEM_LILYCOVE_CITY_HEART_SCALE {
	top: 26.373626373626376%;
	left: 64.52631578947368%;
}
#HIDDEN_ITEM_LILYCOVE_CITY_PP_UP {
	top: 20.21978021978022%;
	left: 67.57894736842105%;
}
#HIDDEN_ITEM_LILYCOVE_CITY_POKE_BALL {
	top: 26.373626373626376%;
	left: 68.0%;
}
#NPC_GIFT_RECEIVED_POKEBLOCK_CASE {
	top: 24.615384615384617%;
	left: 62.8421052631579%;
}
#NPC_GIFT_RECEIVED_TM44 {
	top: 22.197802197802197%;
	left: 66.94736842105263%;
}
#SS_TIDAL {
	top: 26.813186813186814%;
	left: 61.473684210526315%;
}

/*Mossdeep*/
#ITEM_MOSSDEEP_CITY_NET_BALL {
	top: 35.16483516483517%;
	left: 87.26315789473684%;
}
#NPC_GIFT_RECEIVED_KINGS_ROCK {
	top: 29.67032967032967%;
	left: 83.3%;
}
#MOSSDEEP_GYM {
	top: 28.571428571428573%;
	left: 84.73684210526316%;
}
#NPC_GIFT_RECEIVED_SUN_STONE_MOSSDEEP {
	top: 30.10989010989011%;
	left: 88.0%;
}
#MOSSDEEP_CITY_STEVEN {
	top: 28.791208791208792%;
	left: 82.42105263157895%;
}
#NPC_GIFT_RECEIVED_SUPER_ROD {
	top: 27.692307692307693%;
	left: 86.21052631578948%;
}
#EVENT_WINGULL_QUEST_2 {
	top: 32.30769230769231%;
	left: 84.52631578947368%;
}

/*Sootopolis*/
#SOOTOPOLIS_CITY {
	top: 48.57142857142858%;
	left: 75.26315789473684%;
}

/*Pacifidlog*/
#PACIFIDLOG_TOWN_HAPPINESS {
	top: 73.62637362637363%;
	left: 60.421052631578945%;
}

/*Ever Grand*/
#EVENT_DEFEAT_CHAMPION {
	top: 48.13186813186813%;
	left: 97.05263157894737%;
}