#PETALBURG_WOODS {
	top: 57.362637362637365%;
	left: 1.368421052631579%;
}

#RUSTURF_TUNNEL {
	top: 30.98901098901099%;
	left: 10.842105263157896%;
}

#GRANITE_CAVE {
	top: 95.38461538461539%;
	left: 5.157894736842105%;
}

#FIERY_PATH {
	top: 12.307692307692308%;
	left: 21.36842105263158%;
}

#MAGMA_HIDEOUT {
	top: 12.087912087912088%;
	left: 17.57894736842105%;
}

#METEOR_FALLS {
	top: 11.20879120879121%;
	left: 3.6842105263157894%;
}

#ABANDONED_SHIP {
	top: 94.28571428571429%;
	left: 20.63157894736842%;
}

#NEW_MAUVILLE {
	top: 47.91208791208791%;
	left: 29.789473684210527%;
}

#ITEM_SCORCHED_SLAB_TM11 {
	top: 5.934065934065934%;
	left: 47.36842105263158%;
}

#MT_PYRE {
	top: 31.42857142857143%;
	left: 55.26315789473684%;
}

#AQUA_HIDEOUT {
	top: 18.461538461538463%;
	left: 69.26315789473684%;
}

#SHOAL_CAVE {
	top: 17.582417582417584%;
	left: 82.73684210526316%;
}

#SEAFLOOR_CAVERN {
	top: 65.4945054945055%;
	left: 84.94736842105263%;
}

#EVENT_WAKE_RAYQUAZA {
	top: 68.35164835164835%;
	left: 67.05263157894737%;
}

#VICTORY_ROAD {
	top: 57.582417582417584%;
	left: 97.26315789473684%;
}
