/*102*/
#ITEM_ROUTE_102_POTION {
	top: 67.03296703296704%;
	left: 10.105263157894736%;
}

/*103*/
#ITEM_ROUTE_103_GUARD_SPEC {
	top: 58.901098901098905%;
	left: 21.263157894736842%;
}
#ITEM_ROUTE_103_PP_UP {
	top: 59.34065934065934%;
	left: 23.05263157894737%;
}

/*104*/
#HIDDEN_ITEM_ROUTE_104_POTION {
	top: 61.75824175824176%;
	left: 1.6842105263157894%;
}
#HIDDEN_ITEM_ROUTE_104_HEART_SCALE {
	top: 64.17582417582418%;
	left: 2.0%;
}
#HIDDEN_ITEM_ROUTE_104_ANTIDOTE {
	top: 66.37362637362638%;
	left: 2.0%;
}
#ITEM_ROUTE_104_POKE_BALL {
	top: 61.31868131868132%;
	left: 3.6842105263157894%;
}
#ITEM_ROUTE_104_PP_UP {
	top: 51.42857142857143%;
	left: 4.842105263157895%;
}
#ITEM_ROUTE_104_POTION {
	top: 50.10989010989011%;
	left: 1.1578947368421053%;
}
#ITEM_ROUTE_104_X_ACCURACY {
	top: 53.40659340659341%;
	left: 4.631578947368421%;
}
#NPC_GIFT_RECEIVED_CHESTO_BERRY_ROUTE_104 {
	top: 49.45054945054945%;
	left: 4.631578947368421%;
}
#FLOWER_SHOP {
	top: 52.30769230769231%;
	left: 0.631578947368421%;
}

/*105*/
#ITEM_ROUTE_105_IRON {
	top: 87.47252747252747%;
	left: 1.0526315789473684%;
}
#HIDDEN_ITEM_ROUTE_105_HEART_SCALE {
	top: 86.15384615384616%;
	left: 1.894736842105263%;
}
#HIDDEN_ITEM_ROUTE_105_BIG_PEARL {
	top: 82.85714285714286%;
	left: 0.631578947368421%;
}

/*106*/
#ITEM_ROUTE_106_PROTEIN {
	top: 93.1868131868132%;
	left: 3.5789473684210527%;
}
#HIDDEN_ITEM_ROUTE_106_POKE_BALL {
	top: 92.3076923076923%;
	left: 5.052631578947368%;
}
#HIDDEN_ITEM_ROUTE_106_STARDUST {
	top: 92.52747252747253%;
	left: 6.631578947368421%;
}
#HIDDEN_ITEM_ROUTE_106_HEART_SCALE {
	top: 93.40659340659342%;
	left: 8.526315789473685%;
}

/*108*/
#ITEM_ROUTE_108_STAR_PIECE {
	top: 95.16483516483517%;
	left: 22.736842105263158%;
}
#HIDDEN_ITEM_ROUTE_108_RARE_CANDY {
	top: 97.58241758241759%;
	left: 22.210526315789473%;
}

/*109*/
#ITEM_ROUTE_109_PP_UP {
	top: 95.6043956043956%;
	left: 28.42105263157895%;
}
#HIDDEN_ITEM_ROUTE_109_HEART_SCALE_3 {
	top: 94.50549450549451%;
	left: 26.0%;
}
#ITEM_ROUTE_109_POTION {
	top: 84.83516483516483%;
	left: 28.210526315789473%;
}
#HIDDEN_ITEM_ROUTE_109_REVIVE {
	top: 89.67032967032968%;
	left: 26.94736842105263%;
}
#HIDDEN_ITEM_ROUTE_109_HEART_SCALE_2 {
	top: 87.6923076923077%;
	left: 26.63157894736842%;
}
#HIDDEN_ITEM_ROUTE_109_GREAT_BALL {
	top: 85.93406593406594%;
	left: 26.105263157894736%;
}
#HIDDEN_ITEM_ROUTE_109_ETHER {
	top: 88.79120879120879%;
	left: 28.526315789473685%;
}
#HIDDEN_ITEM_ROUTE_109_HEART_SCALE_1 {
	top: 84.83516483516483%;
	left: 29.157894736842106%;
}
#NPC_GIFT_RECEIVED_SOFT_SAND {
	top: 87.25274725274726%;
	left: 28.105263157894736%;
}
#NPC_GIFT_RECEIVED_6_SODA_POP {
	top: 83.95604395604396%;
	left: 26.526315789473685%;
}

/*110*/
#ITEM_ROUTE_110_DIRE_HIT {
	top: 60.0%;
	left: 28.526315789473685%;
}
#ITEM_ROUTE_110_ELIXIR {
	top: 51.86813186813187%;
	left: 25.789473684210527%;
}
#HIDDEN_ITEM_ROUTE_110_REVIVE {
	top: 51.86813186813187%;
	left: 29.36842105263158%;
}
#HIDDEN_ITEM_ROUTE_110_GREAT_BALL {
	top: 53.62637362637363%;
	left: 29.157894736842106%;
}
#HIDDEN_ITEM_ROUTE_110_POKE_BALL {
	top: 50.98901098901099%;
	left: 25.473684210526315%;
}
#HIDDEN_ITEM_ROUTE_110_FULL_HEAL {
	top: 59.34065934065934%;
	left: 29.68421052631579%;
}
#NPC_GIFT_RECEIVED_ITEMFINDER {
	top: 57.142857142857146%;
	left: 29.263157894736842%;
}
#ITEM_ROUTE_110_RARE_CANDY {
	top: 54.065934065934066%;
	left: 28.210526315789473%;
}

/*111*/
#ITEM_ROUTE_111_ELIXIR {
	top: 30.76923076923077%;
	left: 27.36842105263158%;
}
#ITEM_ROUTE_111_HP_UP {
	top: 29.67032967032967%;
	left: 25.36842105263158%;
}
#ITEM_ROUTE_111_TM37 {
	top: 27.032967032967033%;
	left: 29.157894736842106%;
}
#ITEM_ROUTE_111_STARDUST {
	top: 14.065934065934066%;
	left: 26.526315789473685%;
}
#HIDDEN_ITEM_ROUTE_111_STARDUST {
	top: 18.461538461538463%;
	left: 28.31578947368421%;
}
#HIDDEN_ITEM_ROUTE_111_PROTEIN {
	top: 14.065934065934066%;
	left: 27.36842105263158%;
}
#HIDDEN_ITEM_ROUTE_111_RARE_CANDY {
	top: 17.362637362637365%;
	left: 29.36842105263158%;
}
#NPC_GIFT_RECEIVED_SECRET_POWER {
	top: 5.274725274725275%;
	left: 26.736842105263158%;
}
#NPC_GIFT_RECEIVED_MACHO_BRACE {
	top: 29.230769230769234%;
	left: 26.63157894736842%;
}

/*112*/
#ITEM_ROUTE_112_NUGGET {
	top: 16.483516483516485%;
	left: 21.789473684210527%;
}

/*Mt Chimney*/
#MT_CHIMNEY {
	top: 8.791208791208792%;
	left: 19.157894736842106%;
}

/*Jagged Pass*/
#JAGGED_PASS {
	top: 12.087912087912088%;
	left: 19.157894736842106%;
}

/*113*/
#ITEM_ROUTE_113_MAX_ETHER {
	top: 1.978021978021978%;
	left: 19.157894736842106%;
}
#ITEM_ROUTE_113_SUPER_REPEL {
	top: 1.3186813186813187%;
	left: 22.42105263157895%;
}
#ITEM_ROUTE_113_HYPER_POTION {
	top: 3.5164835164835164%;
	left: 14.105263157894736%;
}
#HIDDEN_ITEM_ROUTE_113_ETHER {
	top: 2.6373626373626373%;
	left: 21.157894736842106%;
}
#HIDDEN_ITEM_ROUTE_113_TM32 {
	top: 1.3186813186813187%;
	left: 15.263157894736842%;
}
#HIDDEN_ITEM_ROUTE_113_NUGGET {
	top: 0.6593406593406593%;
	left: 21.473684210526315%;
}

/*114*/
#ITEM_ROUTE_114_PROTEIN {
	top: 9.670329670329672%;
	left: 6.421052631578948%;
}
#ITEM_ROUTE_114_ENERGY_POWDER {
	top: 5.054945054945055%;
	left: 8.947368421052632%;
}
#HIDDEN_ITEM_ROUTE_114_REVIVE {
	top: 7.912087912087912%;
	left: 5.894736842105263%;
}
#HIDDEN_ITEM_ROUTE_114_CARBOS {
	top: 14.945054945054945%;
	left: 7.473684210526316%;
}
#NPC_GIFT_RECEIVED_TM05 {
	top: 3.076923076923077%;
	left: 7.368421052631579%;
}
#ITEM_ROUTE_114_RARE_CANDY {
	top: 1.7582417582417582%;
	left: 5.894736842105263%;
}
#NPC_GIFT_RECEIVED_TM28 {
	top: 1.098901098901099%;
	left: 8.736842105263158%;
}

/*115*/
#ITEM_ROUTE_115_SUPER_POTION {
	top: 26.593406593406595%;
	left: 2.526315789473684%;
}
#HIDDEN_ITEM_ROUTE_115_HEART_SCALE {
	top: 24.175824175824175%;
	left: 1.7894736842105263%;
}
#ITEM_ROUTE_115_PP_UP {
	top: 28.571428571428573%;
	left: 3.263157894736842%;
}
#ITEM_ROUTE_115_GREAT_BALL {
	top: 25.714285714285715%;
	left: 3.8947368421052633%;
}
#ITEM_ROUTE_115_HEAL_POWDER {
	top: 14.725274725274726%;
	left: 1.4736842105263157%;
}
#ITEM_ROUTE_115_TM01 {
	top: 12.747252747252748%;
	left: 2.210526315789474%;
}
#ITEM_ROUTE_115_IRON {
	top: 18.461538461538463%;
	left: 2.8421052631578947%;
}

/*116*/
#ITEM_ROUTE_116_REPEL {
	top: 36.043956043956044%;
	left: 6.2105263157894735%;
}
#ITEM_ROUTE_116_X_SPECIAL {
	top: 34.72527472527473%;
	left: 11.894736842105264%;
}
#NPC_GIFT_RECEIVED_REPEAT_BALL {
	top: 34.505494505494504%;
	left: 10.631578947368421%;
}
#ITEM_ROUTE_116_ETHER {
	top: 33.18681318681319%;
	left: 7.368421052631579%;
}
#ITEM_ROUTE_116_POTION {
	top: 33.40659340659341%;
	left: 9.157894736842104%;
}
#HIDDEN_ITEM_ROUTE_116_SUPER_POTION {
	top: 34.065934065934066%;
	left: 7.684210526315789%;
}
#ITEM_ROUTE_116_HP_UP {
	top: 33.84615384615385%;
	left: 15.157894736842104%;
}
#HIDDEN_ITEM_ROUTE_116_BLACK_GLASSES {
	top: 34.94505494505495%;
	left: 13.789473684210526%;
}

/*117*/
#ITEM_ROUTE_117_GREAT_BALL {
	top: 41.53846153846154%;
	left: 19.473684210526315%;
}
#ITEM_ROUTE_117_REVIVE {
	top: 37.142857142857146%;
	left: 18.63157894736842%;
}
#HIDDEN_ITEM_ROUTE_117_REPEL {
	top: 41.53846153846154%;
	left: 18.0%;
}

/*118*/
#HIDDEN_ITEM_ROUTE_118_HEART_SCALE {
	top: 40.21978021978022%;
	left: 31.57894736842105%;
}
#ITEM_ROUTE_118_HYPER_POTION {
	top: 38.46153846153846%;
	left: 38.63157894736842%;
}
#HIDDEN_ITEM_ROUTE_118_IRON {
	top: 40.0%;
	left: 33.89473684210526%;
}
#NPC_GIFT_RECEIVED_GOOD_ROD {
	top: 38.681318681318686%;
	left: 33.473684210526315%;
}

/*119*/
#ITEM_ROUTE_119_SUPER_REPEL {
	top: 31.64835164835165%;
	left: 36.526315789473685%;
}
#ITEM_ROUTE_119_HYPER_POTION_1 {
	top: 30.54945054945055%;
	left: 39.1578947368421%;
}
#HIDDEN_ITEM_ROUTE_119_FULL_HEAL {
	top: 31.42857142857143%;
	left: 38.21052631578947%;
}
#ITEM_ROUTE_119_ZINC {
	top: 25.054945054945055%;
	left: 35.473684210526315%;
}
#HIDDEN_ITEM_ROUTE_119_CALCIUM {
	top: 21.31868131868132%;
	left: 37.05263157894737%;
}
#ITEM_ROUTE_119_ELIXIR_1 {
	top: 13.846153846153847%;
	left: 38.63157894736842%;
}
#ITEM_ROUTE_119_HYPER_POTION_2 {
	top: 14.725274725274726%;
	left: 35.473684210526315%;
}
#ITEM_ROUTE_119_LEAF_STONE {
	top: 19.560439560439562%;
	left: 38.10526315789474%;
}
#HIDDEN_ITEM_ROUTE_119_ULTRA_BALL {
	top: 16.483516483516485%;
	left: 39.68421052631579%;
}
#HIDDEN_ITEM_ROUTE_119_MAX_ETHER {
	top: 7.6923076923076925%;
	left: 37.473684210526315%;
}
#ITEM_ROUTE_119_ELIXIR_2 {
	top: 10.989010989010989%;
	left: 38.0%;
}
#NPC_GIFT_RECEIVED_HM02 {
	top: 8.351648351648352%;
	left: 38.21052631578947%;
}
#ITEM_ROUTE_119_RARE_CANDY {
	top: 4.835164835164836%;
	left: 36.0%;
}
#ITEM_ROUTE_119_NUGGET {
	top: 1.3186813186813187%;
	left: 37.36842105263158%;
}
#EVENT_DEFEAT_SHELLY {
	top: 8.351648351648352%;
	left: 35.78947368421053%;
}

/*120*/
#HIDDEN_ITEM_ROUTE_120_RARE_CANDY_1 {
	top: 0.21978021978021978%;
	left: 46.421052631578945%;
}
#HIDDEN_ITEM_ROUTE_120_REVIVE {
	top: 2.857142857142857%;
	left: 48.8421052631579%;
}
#NPC_GIFT_RECEIVED_DEVON_SCOPE {
	top: 3.956043956043956%;
	left: 46.63157894736842%;
}
#ITEM_ROUTE_120_NEST_BALL {
	top: 3.5164835164835164%;
	left: 47.68421052631579%;
}
#ITEM_ROUTE_120_NUGGET {
	top: 14.285714285714286%;
	left: 47.473684210526315%;
}
#ITEM_ROUTE_120_REVIVE {
	top: 8.571428571428571%;
	left: 48.0%;
}
#ITEM_ROUTE_120_HYPER_POTION {
	top: 21.53846153846154%;
	left: 47.89473684210526%;
}
#HIDDEN_ITEM_ROUTE_120_ZINC {
	top: 10.989010989010989%;
	left: 48.10526315789474%;
}
#HIDDEN_ITEM_ROUTE_120_RARE_CANDY_2 {
	top: 22.857142857142858%;
	left: 45.26315789473684%;
}
#ITEM_ROUTE_120_FULL_HEAL {
	top: 23.2967032967033%;
	left: 46.10526315789474%;
}

/*121*/
#HIDDEN_ITEM_ROUTE_121_HP_UP {
	top: 23.516483516483518%;
	left: 52.8421052631579%;
}
#ITEM_ROUTE_121_CARBOS {
	top: 23.516483516483518%;
	left: 56.8421052631579%;
}
#ITEM_ROUTE_121_REVIVE {
	top: 23.516483516483518%;
	left: 57.578947368421055%;
}
#ITEM_ROUTE_121_ZINC {
	top: 24.395604395604398%;
	left: 54.73684210526316%;
}
#HIDDEN_ITEM_ROUTE_121_NUGGET {
	top: 21.75824175824176%;
	left: 57.1578947368421%;
}
#HIDDEN_ITEM_ROUTE_121_FULL_HEAL {
	top: 22.197802197802197%;
	left: 59.05263157894737%;
}
#HIDDEN_ITEM_ROUTE_121_MAX_REVIVE {
	top: 23.076923076923077%;
	left: 58.526315789473685%;
}

/*Safari Zone*/
#SAFARI_ZONE {
	top: 18.461538461538463%;
	left: 54.63157894736842%;
}

/*123*/
#ITEM_ROUTE_123_ULTRA_BALL {
	top: 41.31868131868132%;
	left: 43.36842105263158%;
}
#HIDDEN_ITEM_ROUTE_123_REVIVE {
	top: 36.92307692307693%;
	left: 41.473684210526315%;
}
#ITEM_ROUTE_123_CALCIUM {
	top: 38.681318681318686%;
	left: 43.89473684210526%;
}
#ITEM_ROUTE_123_ELIXIR {
	top: 38.901098901098905%;
	left: 49.26315789473684%;
}
#ITEM_ROUTE_123_PP_UP {
	top: 40.43956043956044%;
	left: 45.473684210526315%;
}
#ITEM_ROUTE_123_REVIVAL_HERB {
	top: 40.659340659340664%;
	left: 47.1578947368421%;
}
#HIDDEN_ITEM_ROUTE_123_SUPER_REPEL {
	top: 36.92307692307693%;
	left: 49.36842105263158%;
}
#HIDDEN_ITEM_ROUTE_123_HYPER_POTION {
	top: 40.43956043956044%;
	left: 51.36842105263158%;
}
#NPC_GIFT_RECEIVED_TM19 {
	top: 40.0%;
	left: 53.473684210526315%;
}
#HIDDEN_ITEM_ROUTE_123_PP_UP {
	top: 40.43956043956044%;
	left: 57.26315789473684%;
}
#HIDDEN_ITEM_ROUTE_123_RARE_CANDY {
	top: 41.31868131868132%;
	left: 57.26315789473684%;
}

/*124*/
#ITEM_ROUTE_124_RED_SHARD {
	top: 18.9010989010989%;
	left: 73.47368421052632%;
}
#ITEM_ROUTE_124_YELLOW_SHARD {
	top: 18.461538461538463%;
	left: 77.26315789473684%;
}
#ITEM_ROUTE_124_BLUE_SHARD {
	top: 29.450549450549453%;
	left: 73.78947368421052%;
}
#HIDDEN_ITEM_UNDERWATER_124_GREEN_SHARD {
	top: 24.395604395604398%;
	left: 71.57894736842105%;
}
#HIDDEN_ITEM_UNDERWATER_124_PEARL {
	top: 24.615384615384617%;
	left: 78.10526315789474%;
}
#HIDDEN_ITEM_UNDERWATER_124_BIG_PEARL {
	top: 29.67032967032967%;
	left: 77.89473684210526%;
}
#HIDDEN_ITEM_UNDERWATER_124_HEART_SCALE_1 {
	top: 25.274725274725277%;
	left: 75.57894736842105%;
}
#HIDDEN_ITEM_UNDERWATER_124_CALCIUM {
	top: 17.142857142857142%;
	left: 75.26315789473684%;
}
#HIDDEN_ITEM_UNDERWATER_124_HEART_SCALE_2 {
	top: 32.527472527472526%;
	left: 78.84210526315789%;
}
#HIDDEN_ITEM_UNDERWATER_124_CARBOS {
	top: 23.956043956043956%;
	left: 73.78947368421052%;
}

/*125*/
#ITEM_ROUTE_125_BIG_PEARL {
	top: 20.21978021978022%;
	left: 85.6842105263158%;
}

/*126*/
#ITEM_ROUTE_126_GREEN_SHARD {
	top: 36.70329670329671%;
	left: 71.78947368421052%;
}
#HIDDEN_ITEM_UNDERWATER_126_HEART_SCALE {
	top: 40.87912087912088%;
	left: 73.6842105263158%;
}
#HIDDEN_ITEM_UNDERWATER_126_ULTRA_BALL {
	top: 41.31868131868132%;
	left: 75.26315789473684%;
}
#HIDDEN_ITEM_UNDERWATER_126_STARDUST {
	top: 42.1978021978022%;
	left: 77.78947368421052%;
}
#HIDDEN_ITEM_UNDERWATER_126_BIG_PEARL {
	top: 53.62637362637363%;
	left: 77.78947368421052%;
}
#HIDDEN_ITEM_UNDERWATER_126_PEARL {
	top: 45.714285714285715%;
	left: 71.15789473684211%;
}
#HIDDEN_ITEM_UNDERWATER_126_IRON {
	top: 47.032967032967036%;
	left: 71.36842105263158%;
}
#HIDDEN_ITEM_UNDERWATER_126_YELLOW_SHARD {
	top: 45.27472527472528%;
	left: 71.47368421052632%;
}
#HIDDEN_ITEM_UNDERWATER_126_BLUE_SHARD {
	top: 54.50549450549451%;
	left: 71.15789473684211%;
}

/*127*/
#ITEM_ROUTE_127_ZINC {
	top: 38.02197802197802%;
	left: 81.78947368421052%;
}
#ITEM_ROUTE_127_RARE_CANDY {
	top: 41.97802197802198%;
	left: 81.57894736842105%;
}
#ITEM_ROUTE_127_CARBOS {
	top: 47.032967032967036%;
	left: 88.0%;
}
#HIDDEN_ITEM_UNDERWATER_127_HEART_SCALE {
	top: 55.16483516483517%;
	left: 84.21052631578948%;
}
#HIDDEN_ITEM_UNDERWATER_127_STAR_PIECE {
	top: 48.791208791208796%;
	left: 81.6842105263158%;
}
#HIDDEN_ITEM_UNDERWATER_127_HP_UP {
	top: 46.15384615384615%;
	left: 86.21052631578948%;
}
#HIDDEN_ITEM_UNDERWATER_127_RED_SHARD {
	top: 41.53846153846154%;
	left: 88.94736842105263%;
}

/*128*/
#HIDDEN_ITEM_ROUTE_128_HEART_SCALE_1 {
	top: 59.78021978021978%;
	left: 86.0%;
}
#HIDDEN_ITEM_ROUTE_128_HEART_SCALE_2 {
	top: 66.15384615384616%;
	left: 83.89473684210526%;
}
#HIDDEN_ITEM_ROUTE_128_HEART_SCALE_3 {
	top: 62.85714285714286%;
	left: 87.15789473684211%;
}
#HIDDEN_ITEM_UNDERWATER_128_PROTEIN {
	top: 62.1978021978022%;
	left: 84.73684210526316%;
}
#HIDDEN_ITEM_UNDERWATER_128_PEARL {
	top: 62.63736263736264%;
	left: 88.84210526315789%;
}

/*132*/
#ITEM_ROUTE_132_RARE_CANDY {
	top: 70.98901098901099%;
	left: 50.526315789473685%;
}
#ITEM_ROUTE_132_PROTEIN {
	top: 74.72527472527473%;
	left: 52.421052631578945%;
}

/*133*/
#ITEM_ROUTE_133_BIG_PEARL {
	top: 70.98901098901099%;
	left: 46.63157894736842%;
}
#ITEM_ROUTE_133_STAR_PIECE {
	top: 70.54945054945055%;
	left: 40.94736842105263%;
}
#ITEM_ROUTE_133_MAX_REVIVE {
	top: 75.16483516483517%;
	left: 46.0%;
}

/*134*/
#ITEM_ROUTE_134_CARBOS {
	top: 72.3076923076923%;
	left: 36.21052631578947%;
}
#ITEM_ROUTE_134_STAR_PIECE {
	top: 74.94505494505495%;
	left: 32.73684210526316%;
}